#navbarNavAltMarkup div{
    font-size: 30px;
    font-weight: 600;
    text-decoration: rgb(58, 58, 180);
    background-color: #2857bd;
}

.container-fluid {
    margin-top: 0px;
    background-color: #2857bd;
    height: 40px;
}

body{
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}